#tabbar {
    display: flex;
    margin-bottom: 10px;
}

#tabbar .tab {
    display: inline-block;
    flex: 1;
    text-align: center;
    background: rgba(255 255 255 / 30%);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#tabbar .tab:first-of-type {
    margin-right: 20px;
}

#tabbar .tab:hover {
    background: rgba(255 255 255 / 50%);
}

#tabbar .tab.selected {
    background: rgba(255 255 255 / 70%);
    cursor: default;
}
