#episodes {
    padding-bottom: 10px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: white rgba(0 0 0 / 0%);
}

#episodes a {
    color: black;
    text-decoration: none;
}

#episodes a:hover {
    text-decoration: underline;
}

.episodes-container {
    padding: 10px;
    background: rgba(255 255 255 / 30%);
    margin-bottom: 10px;
}

.episodes-container-header {
    text-align: center;
    font-size: 11px;
    margin-bottom: 5px;
}

.episode {
    display: flex;
    padding: 3px 0;
}

.episode .title {
    flex: 1;
}

.episode .episodeNumber {
    font-family: monospace;
    padding: 3px 5px;
    border-radius: 5px;
    background-color: #fff;
    font-size: 12px;
    margin-left: 10px;
}

.episode .episodeNumber.finale {
    background: #000;
    color: #fff;
}

.episode .episodeNumber.start {
    background: #adff2f;
}

hr {
    color: black;
    border: 1px solid;
    width: calc(100% - 10px);
}
