<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html style="height: 100%">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
        <meta content="text/html; charset=ISO-8859-1" http-equiv="Content-Type" />
        <title>Films - Search</title>
        <link rel="stylesheet" th:href="@{/css/login.css}" />
        <style type="text/css">
            #container {
                height: calc(100% - 200px);
                width: calc(100% - 200px);
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 100px;
                flex-direction: column;
            }

            .description {
                padding: 30px 20px;
                margin: 0 auto;
                width: 800px;
                background: #eee;
                border-radius: 4px;
            }

            img {
                height: 80px;
            }

            #alternatives {
                display: flex;
                margin-top: 20px;
            }

            .alternative {
                display: inline-block;
                flex: 1;
                text-align: center;
            }
            .alternativeName {
                font-size: 14px;
                margin-top: 10px;
            }

            .title {
                font-style: italic;
            }
        </style>
    </head>
    <body th:style="'background-image:url(' + ${background} + '); height: 100%; margin: 0;'">
        <div id="container">
            <div class="description">
                <span th:text="${title}" class="title"></span> could not be opened on
                <span th:text="${provider.friendlyName}" class="title"></span>. Please see the providers below to view
                <span th:text="${title}" class="title"></span> on another service.
            </div>

            <div class="description" id="alternatives">
                <th:block th:each="p : ${alternatives}">
                    <div class="alternative">
                        <a th:href="${p.link}">
                            <img th:src="${p.icon}" />
                        </a>
                        <div th:text="${p.name}" class="alternativeName"></div>
                    </div>
                </th:block>
            </div>
        </div>
    </body>
</html>
