<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
        <title>Films - Search</title>
        <link th:href="@{/css/search.css}" rel="stylesheet" />
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <div th:style="'background-image:url(' + ${background} + ');'" class="bg-image">
            <div class="bg-blur"></div>
        </div>
        <div id="navigation"></div>
        <div id="notifications-container"></div>
        <div id="dialog-container"></div>
        <div id="app"></div>
        <script th:src="@{/js/search.js}"></script>
    </body>
</html>
