#view-error {
    font-family: Montserrat, sans-serif;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#error {
    width: 300px;
    display: flex;
    height: 100%;
    flex-direction: column;
}

#error-header {
    font-size: 24px;
}

#error-body {
    font-size: 16px;
    margin-top: 10px;
}
