.view-login {
    background-color: #add8e6;
    align-items: center;

    #login-form {
        width: 350px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
            width: calc(100% - 40px);
            padding: 10px 5px;
            border-radius: 4px;
            border: 1px solid #888;
            margin-bottom: 20px;
            text-align: center;
        }
    }

    .flexExpand {
        flex: 1;
    }

    button {
        background-color: white;
        border-radius: 4px;
        color: black;
        text-decoration: none;
        margin-top: 20px;
        cursor: pointer;
        border: 1px solid #999;
        width: 120px;
        padding: 10px;
    }

    button:hover {
        background-color: #eee;
    }
}
