#content-added {
    display: flex;

    #poster {
        width: 130px;
    }

    #title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    a {
        width: 120px;
        padding: 10px 20px;
        background-color: white;
        border-radius: 4px;
        color: black;
        text-decoration: none;
        margin-top: 20px;
        font-size: 13px;
    }

    a:hover {
        background-color: #eee;
    }

    #info {
        padding: 0 20px;
        vertical-align: top;
        display: inline-flex;
        flex-direction: column;
    }

    #info-line-1 {
        font-size: 18px;
    }

    #info-line-2 {
        font-size: 14px;
    }
}
