#found-content {
    display: flex;

    #poster {
        width: 130px;
    }

    #title {
        font-size: 30px;
        font-weight: bold;
    }

    #info {
        padding: 0 20px;
        vertical-align: top;
        display: inline-flex;
        flex-direction: column;
    }

    a {
        width: 120px;
        padding: 10px 20px;
        background-color: white;
        border-radius: 4px;
        color: black;
        text-decoration: none;
        margin-top: 20px;
        text-align: center;
        font-size: 13px;
    }

    a:hover {
        background-color: #eee;
    }

    .btn-add-content {
        height: 30px;
        cursor: pointer;
        border: 0;
        width: 90px;
        vertical-align: middle;
    }

    .btn-add-content:not(:disabled) {
        color: #000;
        background: linear-gradient(to top, #faf9f6 50%, white 50%);
        background-size: 100% 200%;
        transition:
            background 0.4s ease,
            color 0.4s ease;
    }

    .btn-add-content:not(:disabled):hover {
        color: #000;
        background-position: right bottom;
    }

    .btn-add-content.anticipated {
        width: 100px;
        margin-left: 10px;

        span {
            vertical-align: middle;
        }

        img {
            height: 18px;
            vertical-align: middle;
            margin-left: 5px;
        }
    }
}
